<h2>Edit Herb</h2>

<%= form_with model: @herb, method: :patch do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <br>
  <%= form.label :watered %>
  <%= form.text_field :watered %>
  <br>
  <br>
  <%= form.submit 'Edit Herb'%>
<% end %>

<br>
<p><%= link_to 'Back to All Herbs', herbs_path %></p>
